{% extends "census/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>

{% if messages %}
<ul class="messages mb-4">
    {% for m in messages %}
        {% if m.tags %}
            <li class="{{ m.tags }}">{{ m }}</li>
        {% else %}
            <li>{{ m }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<div class="max-w-2xl mx-auto">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p class="mb-3">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small class="hidden">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p class="text-red-600">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <input type="submit" name="submit" value="submit" class="finalsubmit">
    </form>
</div>
{% endblock content %}
