{% extends "census/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<div id="copyModal" class="modal" role="dialog"></div>

<div class="max-w-3xl mx-auto">
    <hr class="my-4 w-1/2 mx-auto">
    <p class="guide-text">You have verified the following copies.</p>
    <p class="guide-text">
        Please view copy details to see if anything needs to be edited.<br />
        Edits will be automatically submitted to an administrator for approval.
    </p>
    <hr class="my-4 w-1/2 mx-auto">

    <table class="librarian-select-ui mx-auto">
        <tbody>
            <tr>
                <th class="librarian-select-ui-wide">Copies at {{ affiliation }}</th>
                <th class="librarian-select-ui"></th>
                <th class="librarian-select-ui"></th>
                <th class="librarian-select-ui"></th>
            </tr>
            {% for copy in child_copies %}
            <tr>
                <td>{{ copy.issue.edition.title }}
                    ({{ copy.issue.year }}) --
                    STC/Wing: {{ copy.issue.stc_wing }}
                </td>
                <td>
                    <a class="copy_data button-inline" id="data{{copy.id}}" href="#" data-form="{% url 'draft_copy_data' copy.id %}" title="Details">
                        View details
                    </a>
                </td>
                <td>
                    <a class="button-inline" href="{% url 'update_draft_copy' copy.id %}" target="_blank">
                        Edit details
                    </a>
                </td>
                <td id="validate {{ copy.id }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
