{% extends "census/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<div id="copyModal" class="modal" role="dialog"></div>

<div class="max-w-3xl mx-auto">
    <hr class="my-4 w-1/2 mx-auto">
    <p class="guide-text">
        Here is a list of the copies we think your institution holds.<br />
        Do you actually hold these copies?<br />
    </p>
    <p class="guide-text">
        Please choose 'Yes' or 'No.'<br />
        When you have finished for this session, please click on the button below:<br />
    </p>
    <p class="guide-text">
        <a class="button" href="{% url 'librarian_start' %}">Confirm Holdings</a>
    </p>
    <hr class="my-4 w-1/2 mx-auto">

    <table class="librarian-select-ui mx-auto">
        <tbody>
            <tr>
                <th class="librarian-select-ui-wide">Copies at {{ affiliation }}</th>
                <th class="librarian-select-ui"></th>
                <th class="librarian-select-ui">Held by library?</th>
            </tr>
            {% for copy in copies %}
                {% with draft=copy.drafts.all.0 draft_held=copy.drafts.all.0.location_verified %}
                    {% if not draft %}
                        <tr id="section {{ copy.id }}">
                            <td>{{ copy.issue.edition.title }}
                                ({{ copy.issue.year }}) --
                                STC/Wing: {{ copy.issue.stc_wing }}
                            </td>
                            <td>
                                <span class="copy_data button-inline" id="data{{copy.id}}" data-form="{% url 'draft_copy_data' copy.id %}" title="Details">
                                    View details
                                </span>
                            </td>
                            <td>
                                <span class="button-inline {% if draft %}{{ draft_held|yesno:"button-inline-selected," }}{% endif %}" id="yes_button_{{copy.id}}" onclick="yes({{ copy.id }})" title="Yes">
                                    Yes
                                </span>
                                <span class="button-inline {% if draft %}{{ draft_held|yesno:",button-inline-selected" }}{% endif %}" id="no_button_{{copy.id}}" onclick="no({{ copy.id }})" title="No">
                                    No
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function yes(id) {
    var copy_id = id;
    fetch("create_draftcopy/?copy_id=" + copy_id)
        .then(function(response) { return response.json(); })
        .then(function(data) {
            document.getElementById('yes_button_' + copy_id).classList.add('button-inline-selected');
            document.getElementById('no_button_' + copy_id).classList.remove('button-inline-selected');
        });
}

function no(id) {
    var copy_id = id;
    fetch("location_incorrect/?copy_id=" + copy_id)
        .then(function(response) { return response.json(); })
        .then(function(data) {
            document.getElementById('no_button_' + copy_id).classList.add('button-inline-selected');
            document.getElementById('yes_button_' + copy_id).classList.remove('button-inline-selected');
        });
}
</script>
{% endblock content %}
