{% extends "census/base.html" %}
{% load static %}
{% block content %}

    {% if not user.is_staff %}
        <p class="guide-text">Please sign in as administrator to view this page or do anything</p>
    {% else %}
        <script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
        <div id="copyModal" class="modal" role="dialog"></div>

        <div class="max-w-3xl mx-auto">
            <hr class="my-4 w-1/2 mx-auto">
            <p class="guide-text">Here is a list of the new copies librarians have added.</p>
            <p class="guide-text">Please check the details and verify the information.</p>
            <hr class="my-4 w-1/2 mx-auto">

            <table class="play-detail-set mx-auto" style="width:70%;">
                <tbody>
                    {% if copies %}
                        <tr>
                            <th>Copy</th>
                            <th></th>
                        </tr>
                        {% for copy in copies %}
                            <tr id="copy-record-{{ copy.id }}">
                                <td>{{ copy.issue.edition.title }}
                                    ({{ copy.issue.year }}) --
                                    STC/Wing: {{ copy.issue.stc_wing }}
                                </td>
                                <td>
                                    <a class="copy_data button-inline" href="#" data-form="{% url 'draft_copy_data' copy.id %}" title="Details">View Details</a>
                                </td>
                                <td>
                                    <button class="button-inline" id="accept-{{ copy.id }}" onclick="accept({{ copy.id }});">Accept</button>
                                </td>
                                <td>
                                    <button class="button-inline" id="reject-{{ copy.id }}" onclick="reject({{ copy.id }});">Reject</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <script>
            function accept(copy_id) {
                fetch("admin_verify_single_edit_accept/?copy_id=" + copy_id)
                    .then(function(response) { return response.json(); })
                    .then(function() {
                        document.getElementById('accept-' + copy_id).classList.add('button-inline-selected');
                        document.getElementById('reject-' + copy_id).classList.remove('button-inline-selected');
                    });
            }
            function reject(copy_id) {
                fetch("admin_verify_single_edit_reject/?copy_id=" + copy_id)
                    .then(function(response) { return response.json(); })
                    .then(function() {
                        document.getElementById('accept-' + copy_id).classList.remove('button-inline-selected');
                        document.getElementById('reject-' + copy_id).classList.add('button-inline-selected');
                    });
            }
        </script>
    {% endif %}
{% endblock content %}
