{% extends "census/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <div>
        <script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
        <div id="copyModal" class="modal" role="dialog"></div>
    </div>

    {% include "census/play-title-header.html" with selected_issue=selected_issue icon_path=icon_path title=title all_copies=all_copies %}

    <table class="play-detail-set">
        {% if all_copies %}
            <tr>
                <th class="terse"> SC # </th>
                <th class="detailed"> Location </th>
                <th> Shelfmark </th>
                <th class="w-12 px-3"></th>
                <th class="w-12 px-3"></th>
                <th class="w-12 px-3"></th>
            </tr>
            {% for copy in all_copies %}
                <tr>
                    <td>
                        {% if copy.nsc and copy.nsc != '0' %}
                            <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                                {{ copy.nsc }}
                            </a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                        {% if user.is_staff %}
                            <span class="note">[<a href="{% url 'admin:census_canonicalcopy_change' copy.id %}">Edit copy</a>]</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                            {{copy.location.name}}
                        </a>
                    </td>
                    <td>
                        {% if not copy.shelfmark or copy.shelfmark == "[Shelfmark not available]" or copy.shelfmark is None %}
                            &nbsp;
                        {% else %}
                            <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                                {{ copy.shelfmark }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="w-12 px-3">
                        {% if copy.from_estc and not copy.location_verified %}
                            <span title="The existence of this copy has not been verified; location derived from ESTC." class="unverified-symbol">&#x20E0;</span>
                        {% elif not copy.location_verified %}
                            <span title="The existence of this copy has not been verified; location entered by an administrator." class="unverified-symbol">&#x20E0;</span>
                        {% else %}
                            <span title="This existence of this copy at the location has been verified." class="verified-symbol">&#x2713;</span>
                        {% endif %}
                    </td>
                    <td class="w-12 px-3">
                        {% if copy.fragment %}
                            <span title="This copy is a fragment.">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="16" height="16" fill="currentColor" aria-hidden="true">
                                    <path d="M475.115 163.781L336 252.309v-68.28c0-18.916-20.931-30.399-36.885-20.248L160 252.309V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h528c13.255 0 24-10.745 24-24V184.029c0-18.917-20.931-30.399-36.885-20.248z"/>
                                </svg>
                            </span>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="w-12 px-3">
                        {% if copy.digital_facsimile_url %}
                            <a href="{{ copy.digital_facsimile_url }}" target="_blank" title="View digital facsimile">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
                                  <!--!Font Awesome Free v5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                                    <path d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H48zm0 32h106c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H38c-3.3 0-6-2.7-6-6V80c0-8.8 7.2-16 16-16zm426 96H38c-3.3 0-6-2.7-6-6v-36c0-3.3 2.7-6 6-6h138l30.2-45.3c1.1-1.7 3-2.7 5-2.7H464c8.8 0 16 7.2 16 16v74c0 3.3-2.7 6-6 6zM256 424c-66.2 0-120-53.8-120-120s53.8-120 120-120 120 53.8 120 120-53.8 120-120 120zm0-208c-48.5 0-88 39.5-88 88s39.5 88 88 88 88-39.5 88-88-39.5-88-88-88zm-48 104c-8.8 0-16-7.2-16-16 0-35.3 28.7-64 64-64 8.8 0 16 7.2 16 16s-7.2 16-16 16c-17.6 0-32 14.4-32 32 0 8.8-7.2 16-16 16z"/>
                                </svg>
                            </a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6"><p class="text-center">No editions are available.</p></td></tr>
        {% endif %}
    </table>

{% endblock content %}
