{% extends "census/base.html" %}
{% load static %}
{% block content %}

{% if editions %}
<div class = "wrapper">
    <table class="play-title-header">
        <tr>
            <td rowspan="3" class="play-title-header-icon">
                <div class="play-title-icon-border">
                    <img class="play-title-icon" src="{% static icon_path %}">
                </div>
            </td>
            <td class="play-title-header">
                {{ title.title }}
                {% if user.is_staff %}
                    <span class="note">[<a href="{% url 'admin:census_title_change' title.id %}">Edit title</a>]</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="play-issue-header">
                <span>All editions</span>
            </td>
        </tr>
        <tr>
            <td class="play-issue-header">
                <span>Extant copies: {{ copy_count }} </span>
            </td>
        </tr>
    </table>
    <table class="play-detail-set">
        <tr>
            <th class="even"> Edition </th>
            <th class="even"> Year </th>
            <th class="even"> STC / Wing</th>
            <th class="even"> ESTC </th>
        </tr>
        {% for issue in issues %}
        <tr>
            <td>
                <a href="{% url 'copy' issue.id %}">
                    {% if issue.edition.Edition_number.isdigit %}
                    {{ issue.edition.Edition_number }}
                    {% else %}
                    {{ issue.edition.Edition_number.capitalize }}
                    {% endif %}
                </a>
                {% if user.is_staff %}
                <span class="note">[<a href="{% url 'admin:census_edition_change' issue.edition.id %}">Edit edition</a>]</span>
                {% endif %}
            </td>
            <td><a href="{% url 'copy' issue.id %}">{{ issue.year }}</a></td>
            <td><a href="{% url 'copy' issue.id %}">{{ issue.STC_Wing }}</a></td>
            <td>
                <a href="{% url 'copy' issue.id %}">{{ issue.ESTC }}</a>
                {% if user.is_staff %}
                <span class="note">[<a href="{% url 'admin:census_issue_change' issue.id %}">Edit issue</a>]</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% else %}
<p class="sansserif" align="center">Oh no! No editions are available.</p>
{% endif %}
{% endblock content %}
