{% load static %}

<meta charset="utf-8">

<link rel="shortcut icon" type="image/ico" href="{% static 'census/images/favicon.png' %}" />

<!-- Remote CSS -->

<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

<!-- Remote JS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Local CSS -->

<link rel="stylesheet" type="text/css" href="{% static 'census/style.css' %}" />

<!-- Local JS -->

<script src="{% static 'census/js/utils.js' %}"></script>

<title>Shakespeare Census</title>

