{% load static tailwind_cli %}

<meta charset="utf-8">

<link rel="shortcut icon" type="image/ico" href="{% static 'census/images/favicon.png' %}" />

{% tailwind_css %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

<!-- Local JS -->
<script src="{% static 'census/js/utils.js' %}"></script>

<title>Shakespeare Census</title>
