{% extends "census/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<script type="text/javascript" src="{% static 'census/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<div id="copyModal" class="modal" role="dialog"></div>

<div class="flex items-start mx-[10%] mb-6" style="font-family:'Open Sans',AppleGothic,sans-serif;">
    <div class="shrink-0 mr-4">
        <div class="w-[100px] h-[100px] rounded-full border flex items-center justify-center" style="border-color:#233237;">
            <img class="h-[100px] w-[100px] rounded-full" src="{% static icon_path %}">
        </div>
    </div>
    <div class="text-xl pt-1">
        <div>Search Results</div>
        <div class="text-sm mt-1">{{ field }}: {{ value }}</div>
        <div class="text-sm mt-1">
            <span>Extant copies: {{ copy_count }}{% if fragment_count > 0 %}, plus {{ fragment_count }} fragment{{ fragment_count|pluralize }}{% endif %}</span>
        </div>
    </div>
</div>

<table class="play-detail-set">
    {% if result_list %}
    <tr>
        <th class="terse"> SC # </th>
        <th> Year </th>
        <th class="detailed"> Title </th>
        <th class="detailed"> Location </th>
        <th class="terse"> STC / Wing </th>
    </tr>
    {% for copy in result_list %}
    <tr>
        <td>
            {% if copy.nsc and copy.nsc != '0' %}
                <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                    {{ copy.nsc }}
                </a>
            {% else %}
                &nbsp;
            {% endif %}
            {% if user.is_staff %}
                <span class="note">[<a href="{% url 'admin:census_canonicalcopy_change' copy.id %}">Edit copy</a>]</span>
            {% endif %}
        </td>
        <td>
            <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                {{ copy.issue.year }}
            </a>
        </td>
        <td>
            <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                {{ copy.issue.edition.title }}
            </a>
        </td>
        <td>
            <a class="copy_data" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
                {{copy.location.name}}
            </a>
        </td>
        <td>
            <a href="{% url 'copy' copy.issue.id %}" target="_blank" title="Go to Edition">{{ copy.issue.stc_wing }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5"><p class="text-center">No copies found.</p></td></tr>
    {% endif %}
</table>

{% endblock content %}
