{% extends "census/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'census/js/bootstrap-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'census/css/modal.css' %}" />

  {% if messages %}
  <ul class="messages">
    {% for m in messages %}
      {% if m.tags %}
       <li class="{{ m.tags }}">{{ m }}</li>
      {% else %}
       <li>{{ m }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <input center="align" type="submit" name="submit" value="submit" class="finalsubmit" style="position:static; "/>
  </form>
{% endblock content %}
